.item {
    margin-top: 10px;
    margin-right: 10px;

    height: 104px;

    display: grid;
    grid-template-columns: 104px auto;

    border: solid 1px white;
    border-radius: 5px;
}

.item img {
    padding: 2px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.message {
    padding-left: 10px;
}

.message .like {
    padding-right: 10px;
    text-align: right;
}