.item {
    color:white;
    text-decoration: none;
    font-size: 150%;
    font-family: "Microsoft Yi Baiti";
}

.item a.active {
    color: #87ebf4;
    text-decoration: none;
    font-size: 140%;
    font-family: "Microsoft Yi Baiti";
}